{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}
    {% set _global_actions = _entity_config.list.global_actions|default([]) %}
    {% if app.request.get('action') == 'search' %}
        {% set _global_actions = _global_actions|merge(_entity_config.search.global_actions|default([])) %}
    {% endif %}
    {% for _action in _global_actions %}
        {% if 'route' == _action.type|default('method') %}
            {% set action_href = path(_action.name, _request_parameters|merge({ action: _action.name })) %}
        {% else %}
            {% set action_href = path('easyadmin', _request_parameters|merge({ action: _action.name})) %}
        {% endif %}
        <div class="button-action">
            <a class="btn btn-primary {{ _action.css_class|default('') }}" href="{{ action_href }}">
                {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
            </a>
        </div>
    {% endfor %}
{% endblock %}
