{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}

    {% set _request_parameters = _request_parameters|merge({ search: app.request.get('search')|default('') }) %}
    {# We add referrer again after merging all necessary parameters to ensure that it has all other parameters #}
    {% set _request_parameters = _request_parameters|merge({ referer: path('easyadmin', _request_parameters)|url_encode }) %}

    {% set _global_actions = _entity_config.list.global_actions|default([]) %}
    {% if app.request.get('action') == 'search' or app.request.get('action') == 'searchAdvanced' %}
        {% set _global_actions = _global_actions|merge(_entity_config.search.global_actions|default([])) %}
    {% endif %}
    {% for _action in _global_actions %}
        {% if 'route' == _action.type|default('method') %}
            {% set action_href = path(_action.name, _request_parameters|merge({ action: _action.name })) %}
        {% else %}
            {% set action_href = path('easyadmin', _request_parameters|merge({ action: _action.name})) %}
        {% endif %}
        <div class="button-action">
            <a class="btn btn-primary {{ _action.css_class|default('') }}" href="{{ action_href }}">
                {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block search_action %}
    {% if _entity_config.search.advanced|default(false) == true %}
        <div class="pull-right">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#advanced_search">
                Search
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="collapse" id="advanced_search">
            <div class="well">
                {% form_theme advanced_search_form with easyadmin_config('design.form_theme') %}
                {{ form_start(advanced_search_form, {'method': 'GET', 'action': path('easyadmin')}) }}
                <input type="hidden" name="action" value="searchAdvanced">
                <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
                <input type="hidden" name="sortField" value="{{ _request_parameters.sortField }}">
                <input type="hidden" name="sortDirection" value="{{ _request_parameters.sortDirection }}">
                <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
                <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
                {{ form_rest(advanced_search_form) }}
                <div class="pull-right">
                    <button class="btn btn-primary" type="submit" formtarget="{{ _action.target }}">
                        <i class="fa fa-search"></i>
                        <span>{{ 'action.search'|trans(_trans_parameters) }}</span>
                    </button>
                </div>
                <div class="clearfix"></div>
                {{ form_end(advanced_search_form) }}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock search_action %}

{% block paginator %}
    {% if 'searchAdvanced' == app.request.get('action') %}
        {% set _request_parameters = _request_parameters|merge({ search: app.request.get('search')|default('') }) %}
    {% endif %}
    {{ parent() }}
{% endblock %}
